
*{
    margin:0px;
    padding:0px;
  }
  
  img{
    width:230px;
    height:160px;
  }
  
  
  
  
  body{
   border:1px solid black;
    text-align: center;
    background-color:skyblue;
    margin: auto;
    padding:4px;
    margin-top: 0px;
    padding-top: 0px;
    
  }
  
  div.block{
  /* border:1px solid black; */
  width:250px;
  margin:20px;
  padding:20px;
  background-color:rgb(76, 170, 207);
  border-radius: 8px;
  box-shadow:5px 10px 18px rgb(22, 136, 181);
  display: block;
  margin: auto;
  margin-bottom: 15px;
  }
  
  
  .whatsapp_float {
      position:fixed;
      width:60px;
      height:60px;
      bottom:40px;
      right:40px;
      background-color:#25d366;
      color:#FFF;
      border-radius:50px;
      text-align:center;
          font-size:30px;
      box-shadow: 2px 2px 3px #999;
          z-index:100;
  }
  
  .whatsapp-icon {
      margin-top:16px;
  }
  /* for mobile */
  @media screen and (max-width: 767px){
       .whatsapp-icon {
       margin-top:10px;
       }
      .whatsapp_float {
          width: 40px;
          height: 40px;
          bottom: 20px;
          right: 10px;
          font-size: 22px;
      }
  }
  
  div.container{
    display: block;
    text-align: center;
    margin: auto;
    width: 300px;
    /* background-color: green; */
  }
  
  
  
  a{
    color:white;
    /* background-color:rgb(26, 134, 177);padding:4px; */
    margin:4px;
    /* border:1px solid grey; */
    padding:4px;
    
    
  }
  li{
    margin:10px;
    list-style: none;
    border-radius:4px;
  
  }
  
  ul{
    background-color:rgb(55, 190, 55);
    padding:3px;
    margin-bottom: 0px;
  }
  
  
  @media only screen and (max-width: 600px) {
    img{
      width:200px;
    }
  
    div.block{
      /* background-color: red; */
      width:260px;
    }
  
    
  }
  
  
  div.head{
    margin: 0px;
    padding:0px;
  }
  
  div.head1{
    color:white;
    margin:0px;
    padding: 5px;
    
    background-color:  rgb(76, 170, 207);
    /* background-color:rgb(27, 133, 175); */
    border-bottom-left-radius: 20px;
  }
  
  img.image{
    width:100px;
    border-radius:100px;
    height:100px;
  }
  
  div.head2{
    margin:10px;
    padding:10px;
  }